html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media print {
  .noPrint{ display: none; }
  .yesPrint{ display: block !important;}
    .yesPrint th{
        text-align: left;
    }
  td,th{border:solid #000 !important;
      border-width:0 1px 1px 0 !important;}    
  table {
    border:solid #000 !important;
    border-width:1px 0 0 1px !important;
    }
}
/*------------------------------------------GENERAL---------------------------------------------------*/
body{
	color: black;
	background-color: #F5F1DE;
	font-size: large;
	
}
h1{
	color: black;
	font-size: 72px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

h2{
	color: #000000;
	font-size: 50px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
h4{
	color: black;
	font-size: 42px;
	text-align: center;
}
table{
	background-color: #F5F1DE;
}
hr{
    border-top: 1px solid #000;
}
/*------------------------------------------CLASES---------------------------------------------------*/
.leftMargin{
	margin-left: 16px;
}
.si{
	color: #0F00FF;
	font-weight: bold;
}
.no{

}
.centered{
    margin-left: auto;
    margin-right: auto;
}
/*------------------------------------------ID'S---------------------------------------------------*/
#navbar1{
	background-color: #000000;
}
#navbar1 a{
	color: #FFFFFF;
}
#btnAdd{
	background-color: #000000;/*3C71B5*/
	color: #FFFFFF;
	border-color: #000000; 
}
#btnAddt{
	background-color: #000000;
	color: #FFFFFF;
	margin-top: 10px;
}
#agregarA{
	background-color: #F5F1DE;
}
#agregarA input{
	width: 130;
}
#tablaS{
	margin-top: 50px;
	background-color: #F5F1DE;
}
#tablaS h3{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
#tablaS p{
	font-size: 20px;
}
#mostrarA th{
	text-align: center;
	font-size: 20px;
}
#mostrarA td{
	font-size: 16px;
}
#inputCc{
	font-size: 20px;
	background-color: #000000;
	color: #FFFFFF;	
	text-align: center;
	border-color: #000000;
	margin-top: 30px;
	margin-right: 0px;
}
#mT div{
	margin-top: 20px;
}
#mostrarAn th{
	text-align: center;
	font-size: 18px;
}
#mostrarAn td{
	font-size: 16px;
}
#si{
	font-size: 24px;
	color: #0F00FF;
	font-weight: bold;
}
#no{
	font-size: 24px;
}
#semanas{
	font-size: 24px;
}
#mart{
	margin-top: 10px;
    
}