<!DOCTYPE html>
<html>
  <head>
    <title>Eventos</title>
    <link href="/css/foundation.min.css" rel="stylesheet" type="text/css"  media="screen">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
    <script src="/js/javascript.js"></script>
    <script src="/js/vendor/jquery.js" ></script>
    <script src="/js/foundation.min.js" ></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.magellan.js"></script>
    <script src="/js/foundation/foundation.interchange.js"></script>
  </head>

  <body>
    <div class="row" id="navbar1">
      <div> 
        <div data-magellan-expedition="fixed" class="small-4 large-4 medium-4 columns" id="navbar1">
          <dl class="sub-nav">
            <dd data-magellan-arrival="acerca-de-nosotros"><a href="/grupos">Grupo</a></dd>
            <dd data-magellan-arrival="menu"><a href="/llamadas">Llamadas</a></dd>
            <dd data-magellan-arrival="contactanos"><a href="/eventos">Eventos</a></dd>
            <dd data-magellan-arrival="menu"><a href="/animadora">Animadoras</a></dd>
            <dd data-magellan-arrival="contactanos"><a href="/unidad">Unidad</a></dd>
            <dd data-magellan-arrival="menu"><a href="/curso">Cursos</a></dd>
            <dd data-magellan-arrival="contactanos"><a href="/asistente">Asistentes</a></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="row">
      <h1>Eventos</h1>
      <a href="/creare"><button class="right" id="btnAdd">Agregar Evento</button></a>
      <div class="large-12 medium-12 columns">
        <table id="mostrarAn">
          <thead>
            <tr>
              <th>Unidad</th>
              <th>Animadora</th>
              <th>Asistio</th>
              <th>Observaciones</th>
              <th>Fecha</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for e in eventos%}
              <tr>
                <td>
                  {% for u in unidad %}
                   {% if u.codigo == e.unidad %}
                    <p> {{u.nombre}} </p>
                   {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for a in ani %}
                   {% if a.llave == e.nombre %}
                    <p>{{a.nombre}} {{a.app}} {{a.apm}} </p>
                   {% endif %}
                  {% endfor %}
                </td>
                <td>{{e.asistio}}</td>
                <td>{{e.observaciones}}</td>
                <td>{{e.fecha}}</td>
                <td><a href="/modificare/{{e.llave}}">Modificar</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    

    <!-- FOUNDATION -->
    <script>
      $(document).foundation();
     
    </script>
  </body>

</html>
