<!DOCTYPE html>
<html>
  <head>
    <title>Anspac</title>
    <link href="/css/foundation.min.css" rel="stylesheet" type="text/css"  media="screen">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
    <script src="/js/javascript.js"></script>
    <script src="/js/vendor/jquery.js" ></script>
    <script src="/js/foundation.min.js" ></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.magellan.js"></script>
    <script src="/js/foundation/foundation.interchange.js"></script>
  </head>

  <body>
    <div class="row">
        <div class="large-12 large-centered columns">
         <h1>Anspac</h1>
         <h2>Chihuahua Chihuahua México</h2>
         {% if user == "None" %}
            <a href="{{greeting}}" class="button expand">sign in/sign up</a>
         {% endif %}
         {% if user != "None" %}
                <a href="{{logout}}" class="button expand">logout</a>
          {% endif %}
        </div>
    </div>

    <!-- FOUNDATION -->
    <script>
      $(document).foundation();
     
    </script>
  </body>

</html>
