<html>
  <head>
    <title>Animadora</title>
    <link href="/css/foundation.min.css" rel="stylesheet" type="text/css"  media="screen">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
    <script src="/js/javascript.js"></script>
    <script src="/js/vendor/jquery.js" ></script>
    <script src="/js/foundation.min.js" ></script>
    <script src="/js/foundation/foundation.js"></script>
  </head>
  <body>
  	<div class="row" id="navbar1">
      <div> 
        <div data-magellan-expedition="fixed" class="small-4 large-4 medium-4 columns" id="navbar1">
          <dl class="sub-nav">
            <dd data-magellan-arrival="acerca-de-nosotros"><a href="/grupos">Grupo</a></dd>
            <dd data-magellan-arrival="menu"><a href="/llamadas">Llamadas</a></dd>
            <dd data-magellan-arrival="contactanos"><a href="/eventos">Eventos</a></dd>
            <dd data-magellan-arrival="menu"><a href="/animadora">Animadoras</a></dd>
            <dd data-magellan-arrival="contactanos"><a href="/unidad">Unidad</a></dd>
            <dd data-magellan-arrival="menu"><a href="/curso">Cursos</a></dd>
            <dd data-magellan-arrival="contactanos"><a href="/asistente">Asistentes</a></dd>
          </dl>
        </div>
      </div>
    </div>
  	<div class="row">
  		<h1>Modificar Animadora</h1>
		<form accion="/modificaran" method="post">
		 <div class="large-12 medium-12 columns">
				<table id="agregarA">
				  <thead>
				    <tr>
				      
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td><p>Nombre</p></td> 	
				      <td><input name="nombre" value="{{an.nombre}}"></td>
					
					  <td><p>Apellido P</p></td> 	
				      <td><input name="app" value="{{an.app}}"></td>

				      <td><p>Apellido M</p></td> 	
				      <td><input name="apm" value="{{an.apm}}"></td>

				      <td><p>Cumpleaños</p></td> 	
				      <td><input name="cumple" value="{{an.cumple}}"></td>
					</tr> 
					<tr></tr><tr>
					  <td><p>Telefono</p></td> 	
				      <td><input name="telefono" value="{{an.telefono}}"></td>

					  <td><p>Celular</p></td> 	
				      <td><input name="celular" value="{{an.celular}}"></td>

				      <td><p>Correo</p></td> 	
				      <td><input name="correo" value="{{an.correo}}"></td>
				   
				   	  <td><p>Año en que ingreso</p></td> 	
				      <td><input name="year" value="{{an.year}}"></td>
					</tr><tr></tr>
					<tr>
						

				        <td><p>Desdoblada</p></td> 	
				        <td>
				        	<select name="desdoblada" value="{{an.desdoblada}}">
							  <option value="si">Si</option>
							  <option value="no">No</option>
							</select>
					    </td>

				        <td><p>Coordinadora</p></td> 	
				        <td>
				        	<select name="coordinadora" value="{{an.coordinadora}}">
							  <option value="si">Si</option>
							  <option value="no">No</option>
							</select>
						</td>
						<td></td><td></td><td></td>
						<td>
							<input id="btnAdd" type="submit">
						</td>
					</tr>
				  </tbody>
				</table>
		  </div>	
		 </form>

		 <a id="btnAdd" class="button round"href="/animadora">Volver</a>
		 <a id="btnAdd" class="button round right"href="/eliminaran/{{an.llave}}">Eliminar</a>
	 </div>
	 <script>
      $(document).foundation();
    </script>
	</body>
</html>