<!DOCTYPE html>
<html>
  <head>
    <title>Anspac</title>
    <link href="/css/foundation.min.css" rel="stylesheet" type="text/css"  media="screen">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
    <script src="/js/javascript.js"></script>
    <script src="/js/vendor/jquery.js" ></script>
    <script src="/js/foundation.min.js" ></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.magellan.js"></script>
    <script src="/js/foundation/foundation.interchange.js"></script>
  </head>

  <body>
    <div class="row" id="navbar1">
      <div> 
        <div data-magellan-expedition="fixed" class="small-4 large-4 medium-4 columns" id="navbar1">
          <dl class="sub-nav">
            {% if user == "None" %}
             <dd style="float: right;"><a href="{{greeting}}">sign in</a></dd>
            {% endif %}
             <dd style="float: right;"><a href="{{logout}}">{{user}}</a></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="row">
    <h1>Favor de contactar a la persona encargada si desea entrar</h1>  
    </div>
    
     

    <!-- FOUNDATION -->
    <script>
      $(document).foundation();
     
    </script>
  </body>

</html>
