<html>
  <head>
    <title>Asistentes</title>
    <link href="css/foundation.min.css" rel="stylesheet" type="text/css"  media="screen">
    <link href="css/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
    <script src="js/javascript.js"></script>
    <script src="js/vendor/jquery.js" ></script>
    <script src="js/foundation.min.js" ></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.magellan.js"></script>
    <script src="js/foundation/foundation.interchange.js"></script>
  </head>
  <body>
  	<div class="row">
  		<h1>Agregar Asistente</h1>
		<form accion="/creara" method="post">
		 <div class="large-12 medium-12 columns">
				<table id="agregarA">
				  <thead>
				    <tr>
				      
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td><p>Nombre</p></td> 	
				      <td><input name="nombre"></td>
					
					  <td><p>Cumpleaños</p></td> 	
				      <td><input name="cumple"></td>

				      <td><p>Telefono</p></td> 	
				      <td><input name="telefono"></td>
					</tr> 
					<tr>
					  <td><p>Celular</p></td> 	
				      <td><input name="celular"></td>

				      <td><p>Correo</p></td> 	
				      <td><input name="correo"></td>
				   
					  <td><p>Grado</p></td> 		
				      <td>
						<select name="grado">
							  {% for grado in grados%}
					             <option value="{{grado.nombre}}">{{grado.nombre}}</option>
					          {% endfor %}
						</select>
				      </td>
					</tr> 
				    <tr>
				      <td><a href="asistente"><button>Volver</button></a></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>	  
				      <td><input type="submit"></td>
				    </tr>
				  </tbody>
				</table>
		  </div>	
		 </form>
		 
	 </div>
	 <script>
      $(document).foundation();
    </script>
	</body>
</html>