<!DOCTYPE html>
<html>
  <head>
    <title>{{u.nombre}}</title>
    <link href="/css/foundation.min.css" rel="stylesheet" type="text/css"  media="screen">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
    <script src="/js/javascript.js"></script>
    <script src="/js/vendor/jquery.js" ></script>
    <script src="/js/foundation.min.js" ></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.magellan.js"></script>
    <script src="/js/foundation/foundation.interchange.js"></script>
  </head>

  <body>
    <div class="row" id="navbar1">
      <div> 
        <div data-magellan-expedition="fixed" class="small-4 large-4 medium-4 columns" id="navbar1">
          <dl class="sub-nav">
            <dd data-magellan-arrival="acerca-de-nosotros"><a href="/grupos">Grupo</a></dd>
            <dd data-magellan-arrival="menu"><a href="/llamadas">Llamadas</a></dd>
            <dd data-magellan-arrival="contactanos"><a href="/eventos">Eventos</a></dd>
            <dd data-magellan-arrival="menu"><a href="/animadora">Animadoras</a></dd>
            <dd data-magellan-arrival="contactanos"><a href="/unidad">Unidad</a></dd>
            <dd data-magellan-arrival="menu"><a href="/curso">Cursos</a></dd>
            <dd data-magellan-arrival="contactanos"><a href="/asistente">Asistentes</a></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="row">
      <h1>{{u.nombre}}</h1>
     <div class="large-12 medium-12 columns" id="semanas">
      <div class="large-8 medium-8 columns">
        <p>Direccion: {{u.direccion}}</p>
      </div>
      <div class="large-4 medium-4 columns">
        <p class="right">Codigo: {{u.codigo}}</p>
      </div>
      <div class="large-8 medium-8 columns">
        <p>Telefono: {{u.telefono}}</p>
        <p>Horario: {{u.dia}} {{u.hora}}</p>
      </div>
      <div class="large-4 medium-4 columns">
        <a class="button round right" id="btnAdd" href="/unidad">Volver</a>
      </div>
      <div class="large-12 medium-12 columns" id="semanas">
        <a href="/semanass/{{u.llave}}/0">Enero</a>
        <a href="/semanass/{{u.llave}}/1">Febrero</a>
        <a href="/semanass/{{u.llave}}/2">Marzo</a>
        <a href="/semanass/{{u.llave}}/3">Abril</a>
        <a href="/semanass/{{u.llave}}/4">Mayo</a>
        <a href="/semanass/{{u.llave}}/5">Junio</a>
        <a href="/semanass/{{u.llave}}/6">Septiembre</a>
        <a href="/semanass/{{u.llave}}/7">Octubre</a>
        <a href="/semanass/{{u.llave}}/8">Noviembre</a>
        <a href="/semanass/{{u.llave}}/9">Diciembre</a>
      </div>
      <div class="large-6 medium-6 columns">
           <h2>{{mes}}</h2>
           <div class="large-12 medium-12 columns">
               <p>Asistencias totales: {{u.total[xx]}}</p>
          </div>
        <form accion="/semanass/{{u.llave}}/{{xx}}" method="post">
         <table id="tablaS">
          <thead>
            <th></th>
            <th><h3>Animadoras</h3></th>
            <th>S1</th>
            <th>S2</th>
            <th>S3</th>
            <th>S4</th>
            <th>Ss</th>
          </thead>
          <tbody>
            {% for x in u.animadora %}
              {% for m in meses %}
                {% for a in ani %}
                 {% if m.asistente == x and m.asistente == a.llave %}
                  <tr>
                      <td><input type="checkbox" name="a" value ="{{a.llave}}"></input></td>
                      <td><p class="{{a.coordinadora}}">{{a.nombre}} {{a.app}} {{a.apm}}</p></td>
                      <td>{{m.semanas[xx].s1}}</td>
                      <td>{{m.semanas[xx].s2}}</td>
                      <td>{{m.semanas[xx].s3}}</td>
                      <td>{{m.semanas[xx].s4}}</td>
                      <td>{{m.semanas[xx].ss}}</td>
                  </tr>
                 {% endif %}
               {% endfor %}   
             {% endfor %}
            {% endfor %}
            <tr>
              <th></th>
              <th><h3>Asistentes</h3></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            {% for x in u.asistente %}
             {% for m in meses %}
              {% for a in asis %}
                {% if m.asistente == x and m.asistente == a.llave %}
                 <tr>
                     <td><input type="checkbox" name="a" value ="{{a.llave}}"></input></td>
                     <td><p>{{a.nombre}} {{a.app}} {{a.apm}}</p></td>
                     <td>{{m.semanas[xx].s1}}</td>
                     <td>{{m.semanas[xx].s2}}</td>
                     <td>{{m.semanas[xx].s3}}</td>
                     <td>{{m.semanas[xx].s4}}</td>
                     <td>{{m.semanas[xx].ss}}</td>
                 </tr>
                    {{break}}
                {% endif %}
              {% endfor %}
              {% endfor %}
            {% endfor %}
          </tbody>
        </table>
       </div>
         <div style="margin-top: 50px;"class="large-6 medium-6 columns">
          <div class="large-3 medium-3 columns"> 
           <div class="large-1 medium-1 columns">
            <p>S1</p>
           </div>
           <div class="large-2 medium-2 columns">
            <input value="" name="s1">
           </div>
          </div>
          <div class="large-3 medium-3 columns"> 
           <div class="large-1 medium-1 columns">
            <p>S2</p>
           </div>
           <div class="large-2 medium-2 columns">
            <input value="" name="s2">
           </div>
          </div>
         </div>
         <div id="mart" class="large-6 medium-6 columns">
          <div class="large-3 medium-3 columns"> 
           <div class="large-1 medium-1 columns">
            <p>S3</p>
           </div>
           <div class="large-2 medium-2 columns">
            <input value="" name="s3">
           </div>
          </div>
          <div class="large-3 medium-3 columns"> 
           <div class="large-1 medium-1 columns">
            <p>S4</p>
           </div>
           <div class="large-2 medium-2 columns">
            <input value="" name="s4">
           </div>
          </div>
         </div>
         <div id="mart" class="large-6 medium-6 columns">
          <div class="large-3 medium-3 columns"> 
           <div class="large-1 medium-1 columns">
            <p>Ss</p>
           </div>
           <div class="large-2 medium-2 columns">
            <input value="" name="ss">
           </div>
          </div>
          <div class="large-6 medium-6 columns"> 
           <div class="large-9 medium-9 columns">
               <p>Asistencias totales</p>
           </div>
           <div class="large-2 medium-2 columns">
            <input name="totales">
           </div>
          </div>
         </div>
          <div id="mart" class="large-6 medium-6 columns">
            <input style="text-align:right;"id="btnAdd" value="Actualizar" type="submit">
          </div>
      </form>
     </div>
    </div>
    <!-- FOUNDATION -->
    <script>
      $(document).foundation();
     
    </script>
  </body>

</html>
